
%Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav{
  @extend %Nav;
  min-height: 8vh;
  background-color: rgb(20, 133, 114);
  color: white;
}
.link_pages{
  @extend %Nav;
  width: 60%;
  list-style: none;
}