/* .section1 {
    width: 20%;
} */

.section1 h2 {
    color: aqua;
    font-size: 22px;
    margin: 5%;
    /* margin-left: 30px; */
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
}

.section1 ol {
    list-style-type: none;
}

.section1 li {
    margin: 5%;
    /* margin-left: 30px; */

    /* margin-bottom: 10px; */
}